.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background-color: black;
}

.footer span {
  color: white;
}

.header {
  position: sticky;
  top: 0;
  max-width: 100vw;
  height: 70px;
  padding: 0 20px;
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header div a {
  color: white;
  text-decoration: none;
}

.logoWrapper {
  max-width: 70px;
  max-height: 100%;
}

.logoWrapper a img {
  max-width: 70px;
  max-height: 70px;
}