.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background-color: black;
}

.footer span {
  color: white;
}

.header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px ;
  background-color: black;
}

.header a {
  color: white;
  text-decoration: none;
}